*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: midnightblue;
    color: beige;
    font-size: 1vw;
}

#contents{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: azure;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: calc(2px + 2vw);
    text-align: center;
    list-style: none;
    padding-left: 0;
    background-color: crimson ;
}

nav li{
    font-size: calc(3px + 3vw);
    width: 90%;
    padding: 2vh 2vw;
    margin: 2.5vh 1vw;
    background-color: gold;
}
nav a{
    text-decoration: none;
}

footer{
    background-color: cadetblue;
    padding: .5vw;
}

/* media query */
@media screen and (max-width: 750px){

    header{
        align-items: center;
        background-color: midnightblue;
        color: beige;
    }

    #contents{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: azure;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        background-color: crimson ;
    }

    nav li{
        font-size: calc(1px + 2vw);
        width: 90%;
        padding: 1vh .5vw;
        margin: 1vh .5vw;
        background-color: gold;
    }
    nav a{
        text-decoration: none;
    }
}