/* Reset default margins and set box-sizing */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Universal design */
/* Set the main content width and center it */
#page-wrapper {
    width: 80vw;
    margin: 0 auto;
}

/* Header styles */
header {
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: cadetblue;
    color: beige;
    font-size: 1vw;
}

/* Main content container */
#contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: azure;
}

/* Navigation styles */
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: calc(2px + 2vw);
    text-align: center;
    list-style: none;
    padding-left: 0;
    background-color: cadetblue;
}

nav li {
    font-size: calc(3px + 3vw);
    width: 90%;
    padding: 2vh 2vw;
    margin: 2.5vh 1vw;
    background-color: azure;
}

nav a {
    text-decoration: none;
}

/* Footer styles */
footer {
    background-color: cadetblue;
    padding: .5vw;
}

/* Media query for screens smaller than 750px */
@media screen and (max-width: 750px) {
    /* Adjust header for smaller screens */
    header {
        align-items: center;
        background-color: cadetblue;
        color: beige;
    }

    /* Change main content to column layout */
    #contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: azure;
    }

    /* Adjust navigation for smaller screens */
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        background-color: cadetblue;
    }

    nav li {
        font-size: calc(1px + 2vw);
        width: 90%;
        padding: 1vh .5vw;
        margin: 1vh .5vw;
        background-color: azure;
    }

    nav a {
        text-decoration: none;
    }
}


/*
Page specific
 */

#main-title{
    font-size: calc(10px + 2vw);
    text-align: center;
    color: crimson;
}

#main-content{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#main-text{
    font-size: calc(2px + 2vw);
    padding: 2vh 2vw;
}

#sub-text{
    font-size: calc(2px + 1vw);
    padding: 2vh 2vw;
    margin: 4vh 1vw;
}

#profile {
    max-width: 25%;
}
